
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}
.word-color-505F98{
    color: #505F98 !important;
}



.heading-color-37447E{
    color: #37447E !important;
}

.btn-bg-color{
    background-color: #3e288d;
}
.color-180a49{
   color: #624fa5;
}

.background-item-banner{
    top: -15%;
    right: 0;
  
}
.footer-bg-color{
    background-color: #ced8fa;
}
.btn-hover{
    transition: all 0.1s;
}
.btn-hover:hover{
  
    outline: 3px #9286b8 solid ;

}
.btn-hover-2{
    transition: all 0.1s;
}
.btn-hover-2:hover{
   
       background-color: #3e288d;
       color: white;

}
@media  (max-width:768px) {
    .background-item-banner{
        opacity: 0.5;
    }
}
